
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    
    <title>Channel Context | {{guild_name}}</title>
    
{% endblock %}

{% block NavLink %}
    {{super()}}
{% endblock %}

{% block MobLink %}
    {{super()}}
{% endblock %}



    {% block content %} 
    <main>
        <form action = "/channelContext/{{guild_id}}" method = "post">
        <center>
            <h1 style=" margin-bottom:0rem; color:white">{{guild_name}}</h1>
            <!--<h1>Enter Channel Id</h1>-->
            <!--<p><textarea type = "text" name = "channel" placeholder="channel id or leave it blank" size="50"></textarea></p>-->
            <!-- <h2 style="margin-bottom:2rem; color:white">Enter Context</h2> -->
            <select style="margin-bottom:2rem; outline:none; padding:1rem; border-radius: 2px;" name="channel" id="channel">
            {% for i in channels %}
            {% if i[4] == "text" %}
            <option value="{{i[1]}}">{{i[0]}} - {{i[2]}}</option>
            {% endif %}
            {% endfor %}
            </select>
            <br />
            <p><textarea type = "text" name = "context"
                style="outline:none; margin-bottom:1rem; color:black; padding:2rem" 
                type = "text" 
                placeholder="Enter your context here..." 
                autofocus
                cols="80" 
                rows="10"></textarea></p>
            
            <button class="button"><b>SUMBIT</b></button>
        </center>
        </form>
    </main>
    {% endblock %}

