
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <!-- <link rel="stylesheet" href="css/signup.css"> -->
    <title>Context</title>
{% endblock %}

{% block NavLink %}
    {{super()}}
{% endblock %}

{% block MobLink %}
    {{super()}}
{% endblock %}


{% block content %} 

    <form action = "/context/{{guild_id}}" method = "post">
        <center>
            <h1>{{guild_name}}</h1>
            <p><textarea type = "text" name = "context" placeholder="context" size="50"></textarea></p>

            <button class="button"><b>SUMBIT</b></button>
        </center>
    </form>


{% endblock %}

