<body>
    <form action = "/context/{{guild_id}}" method = "post">
        <center>
            <h1>{{guild_name}}</h1>
            <h1>Enter Context Name</h1>
            <p><textarea type = "text" name = "name" placeholder="context name" size="50"></textarea></p>
            <h1>Enter Channel Id</h1>
            <p><textarea type = "text" name = "channel" placeholder="channel id or leave it blank" size="50"></textarea></p>
            <h1>Enter Context</h1>
            <p><textarea type = "text" name = "context" placeholder="context" size="50"></textarea></p>

            <button class="button"><b>SUMBIT</b></button>
        </center>
    </form>
</body>

