
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    
    <title>Context</title>
    
{% endblock %}

{% block NavLink %}
    {{super()}}
{% endblock %}

{% block MobLink %}
    {{super()}}
{% endblock %}



    {% block content %} 
        <main>
            <form action = "/context/{{guild_id}}" method = "post">
                <center>
                    <h1 style="color:white">{{guild_name}}</h1>
                    <textarea style="outline:none; margin-bottom:1rem; color:black; padding:2rem" 
                                 type = "text" 
                                 name = "context" 
                                 placeholder="Enter your context here..." 
                                 autofocus
                                 cols="100" 
                                 rows="10" 
                                 ></textarea>

                    <button class="button"><b>SUMBIT</b></button>
                </center>
            </form>
        </main>
    {% endblock %}


   