
{% extends "base.html" %}
    {% block head %}
        {{ super() }}
        <title>Dashboard</title>
    {% endblock %}

    {% block NavLink %}
        {{super()}}
    {% endblock %}

    {% block MobLink %}
        {{super()}}
    {% endblock %}


    {% block content %} 
        <main>
            <div><center><a href="/create"><Button style="">Create</Button></a></center></div>
            <center><h1 style="color:white">Your Guilds<h1></center>
            {% for i in guilds %}
            {{i.name}}
            <div><a href="/context/{{i.id}}"<p style="color: white;">{{Guild Context}}</p></a></div>
            <div><a href="/channelContext/{{i.id}}"<p style="color: white;">{{Channel Context}}</p></a></div>
            {% endfor %}
        </main>

    {% endblock %}