{% extends "base.html" %}
    {% block head %}
        {{ super() }}
        <link rel="stylesheet" href="css/home.css">
        <title>Home</title>
    {% endblock %}

    {% block NavLink %}
        {{super()}}
    {% endblock %}

    {% block MobLink %}
        {{super()}}
    {% endblock %}


    {% block content %} 
    
        <main>
            <section class="what-is-answer">
                
                <img src="res/images/heroImg.svg" alt="Hero Section"/>
                <div class="details">
                    <h1>What is !answer ?</h1>
                    <p>
                        !answer is an intelligent discord bot that answers intelligently to
                        your user base’s queries. Moreover it features moderation tools.
                    </p>

                    <a class="sign-up" href="/signup">
                        <button>
                            Sign Up
                        </button>
                    </a>
                </div>
            </section>
            <hr>

            <section class="what-can-answer-do">
                
                <h1>What can !answer do ?</h1>

                <div class="card-container">
                    <div class="card">
                        <h2>Free To Use</h2>
                    </div>

                    <div class="card">
                        <h2>Easy guilld moderation</h2>
                    </div>

                    <div class="card">
                        <h2>All-in-one dashboard</h2>
                    </div>

                    <div class="card">
                        <h2>State of the art AI</h2>
                    </div>

                    <div class="card">
                        <h2>Secure and Safe</h2>
                    </div>

                    <div class="card">
                        <h2>Open Source</h2>
                    </div>
                </div>

                <hr>
            </section>

            <section class="contributions">
                <h1>Contribution</h1>
                <div class="contribution-grid">
                    <div class="contribution-card">
                        <img src="res/icons/logo.svg" alt="logo"/>
                        <h2>!answer</h2>
                    </div>
                    <div class="contribution-card">
                        <p>
                            Are you willing to contribute to !answer GitHub repository? Or contact developers 
                            for support? Here are the various channels via which you can contact us.
                        </p>
                        <div class="social">
                            <a href="https://github.com/" target=”_blank” rel=”noopener noreferrer”>
                                <img src="res/icons/githubIcon.svg" alt="Github Link"/>
                            </a>
                            <a href="https://discord.com/" target=”_blank” rel=”noopener noreferrer”>
                                <img src="res/icons/discordIcon.svg" alt="Discord Link"/>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    {% endblock %}


