{% extends "base.html" %}
    {% block head %}
        {{ super() }}
        <link rel="stylesheet" href="css/login.css">
        <title>Login</title>
    {% endblock %}

    {% block NavLink %}
        {{super()}}
    {% endblock %}

    {% block MobLink %}
        {{super()}}
    {% endblock %}


    {% block content %} 
        <main>
            <form action = "/login" method = "post" class="login">
                <h1>Login</h1>
                <input type = "text" name = "username" placeholder="username" size=50 required/>
                <input type = "password" name = "password" placeholder="password" size=50 required/>
            
                <button class="button">Login</button>
            </form>
        </main>

    {% endblock %}

