<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Log In</title>
</head>
<body>
    
    <img class="background" src="res/icons/bgLayer.svg" alt="background"/>

    <header>
        <nav>
            <a href="" class="logo"><img src="res/icons/logo.svg" alt="company logo"/></a>
            <div class="nav-links">
                <a href="/about" class="nav-link">About</a>
                <a href="/documentation" class="nav-link">Documentation</a>
                <a href="/signup" class="nav-link">Sign Up</a>
                <a href="login" class="nav-link">Log In</a>
            </div>
            <button class="menu" onclick="openMenu()">
                <img src="/templates/res/icons/menuIcon.svg" alt="menu btn"/>
            </button>
        </nav>

        <nav class="mob-nav" id="mobNav">
            <div class="mob-nav-header">
                <a href="" class="logo"><img src="res/icons/logo.svg" alt="company logo"/></a>

                <button class="close" onclick="closeMenu()">
                    <img src="/templates/res/icons/closeIcon.svg" alt="menu btn"/>
                </button>
            </div>
            <a href="/about" class="mob-nav-link">About</a>
                <a href="/documentation" class="mob-nav-link">Documentation</a>
                <a href="/signup" class="mob-nav-link">Sign Up</a>
                <a href="login" class="mob-nav-link">Log In</a>
        </nav>
    </header>

    <main>
        <form action = "/login" method = "post" class="login">
            <h1>Login</h1>
            <input type = "text" name = "username" placeholder="username" size=50 required/>
            <input type = "password" name = "password" placeholder="password" size=50 required/>
        
            <button class="button">Login</button>
        </form>
    </main>
    

    <script src="js/nav.js"></script>
</body>
</html>
