{% extends "base.html" %}
    {% block head %}
        {{ super() }}
        <link rel="stylesheet" href="css/signup.css">
        <title>Signup</title>
    {% endblock %}

    {% block NavLink %}
        {{super()}}
    {% endblock %}

    {% block MobLink %}
        {{super()}}
    {% endblock %}


    {% block content %} 

    <main>
        <form action = "/signup" method = "post" class="signup">
            <h1>SIGN UP</h1>
            <input type = "text" name = "username" placeholder="Username" size=50 required/>
            <input type = "password" name = "password" placeholder="Password" size=50 required/>
    
            <button class="button" type="submit">Sign Up</button>
    
        </form>
    </main>

    {% endblock %}
